* {
    font-family: 'Nova Square', cursive;
}

main {
    background-color: #ececec;

}

/* NAVBAR */

.nav-all {
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,254,254,0.4) 4%, rgba(255,255,255,1) 8%);
}

.logo {
    height: 50px;
    width: 100px;
    z-index: 800;
    background: transparent;
}

.nav-links {
    list-style-type: none;
    font-family: 'Rajdhani', light;
    font-size: small;
    z-index: 800;
}


/* HEADER */

header {
   width: 100%;
   min-height: 50vh;    
   background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.2)), url("./media/switzerland-862870_1920.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 117.5px;
   
}


h1{
   z-index: 500;
   font-size: 9vh;
   font-weight: bold;
   position: absolute;
   background-color: transparent;
   text-transform: uppercase;
   text-align: center;
   letter-spacing:1ch;
   color: darkred;
}

.png {
   width: 100%;
   z-index: 900;
   background-color: transparent;
   position: relative;
   scale: 100%;
   margin-left: -40px;
   display: flex;
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: center;
   justify-content: center;
   align-items: center;
}

/* OUR TEAM */

.ourteam {
    background-color: #ececec;
}

.teampic {
    height: 115px;
    width: 115px;
    border-radius: 50%;
    border:solid;
    border-width: 2px;
    border-color: darkred;
    padding: 5px;
}

.cardtitle {
    font-size: small;
}

.cardred {
    color: darkred;
}

.cardblack {
    font-size: xx-small;
    font-style: italic;
    font-family: 'Rajdhani', light;
}

.fa-brands {
    font-size: x-small;
}

/* OUR BENEFIT */

.benefitpic {
    height: 175px;
    width: 175px;
    border-radius: 50%;
    border:solid;
    border-width: 2px;
    border-color: darkred;
    padding: 5px;
}

.benefititle {
    color: darkred;
}


.benefitext {
    font-size: small;
    word-spacing: 0.4ch;
}

#boscorosso {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0;

    

}

footer{
    background-color: darkred;
    color: white;
    padding: 5%;
    padding-bottom: 3%;
}

CIAO
