* {
    font-family: 'Nova Square', cursive;
}

/* ICONE */
.fa-solid {
    color: brown;

}
/* Scritte */
.rigatre{
    font-family: 'Rajdhani', light;
    font-size: small;
}

.rigauno {
    font-family: 'Rajdhani', light;
    font-style: oblique;
    font-size: large;
}
h5 {
    color: brown;
}