* {
    font-family: 'Nova Square', cursive;
}

/* ICONE */
.fa-solid {
    color: darkred;

}
/* Scritte */
.rigatre{
    font-family: 'Rajdhani', light;
    font-size: small;
}

.rigauno {
    font-family: 'Rajdhani', light;
    font-style: oblique;
    font-size: large;
}
h5 {
    color: darkred;
}

/* NAVBAR */

.logo {
    height: 50px;
    width: 100px;
}

.nav-links {
    list-style-type: none;
    font-family: 'Rajdhani', light;
    font-size: small;
}


/* HEADER */

header {
   width: 100%;
   min-height: 50vh;    
   background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.2)), url("./media/switzerland-862870_1920.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
}


h1{
   z-index: 9999;
   font-size: 9vh;
   font-weight: bold;
   position: absolute;
   background-color: transparent;
   text-transform: uppercase;
   text-align: center;
   letter-spacing:1ch;
   color: darkred;
}

.png {
   width: 100%;
   z-index: 900;
   background-color: transparent;
   position: relative;
   scale: 100%;
   margin-left: -40px;
   margin-bottom: -100px;
   display: flex;
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: center;
   justify-content: center;
   align-items: center;
}